apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: go-sainncxx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/go-sainncxx:b14f395bd0ac27896458e4e066152c90a053668f@sha256:296a8e7c448dafffa8796db367fcca8a8fc293745906b854a8910b03c931870e
          name: container-image
